TestMFDService/Web References/localhost/MFDWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCAE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlEmpresa">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="xmlComprobante">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCAEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCAEResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nroComprobante" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUltimoId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlEmpresa">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUltimoIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUltimoIdResult" nillable="true" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUltimoNroComprobante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlEmpresa">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="xmlComprobante">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUltimoNroComprobanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUltimoNroComprobanteResult" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecipientCertificateFromStore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recipientName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecipientCertificateFromStoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecipientCertificateFromStoreResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCAESoapIn">
    <wsdl:part name="parameters" element="tns:GetCAE" />
  </wsdl:message>
  <wsdl:message name="GetCAESoapOut">
    <wsdl:part name="parameters" element="tns:GetCAEResponse" />
  </wsdl:message>
  <wsdl:message name="GetUltimoIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetUltimoId" />
  </wsdl:message>
  <wsdl:message name="GetUltimoIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetUltimoIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetUltimoNroComprobanteSoapIn">
    <wsdl:part name="parameters" element="tns:GetUltimoNroComprobante" />
  </wsdl:message>
  <wsdl:message name="GetUltimoNroComprobanteSoapOut">
    <wsdl:part name="parameters" element="tns:GetUltimoNroComprobanteResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecipientCertificateFromStoreSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecipientCertificateFromStore" />
  </wsdl:message>
  <wsdl:message name="GetRecipientCertificateFromStoreSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecipientCertificateFromStoreResponse" />
  </wsdl:message>
  <wsdl:portType name="MFDWebServiceSoap">
    <wsdl:operation name="GetCAE">
      <wsdl:input message="tns:GetCAESoapIn" />
      <wsdl:output message="tns:GetCAESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUltimoId">
      <wsdl:input message="tns:GetUltimoIdSoapIn" />
      <wsdl:output message="tns:GetUltimoIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUltimoNroComprobante">
      <wsdl:input message="tns:GetUltimoNroComprobanteSoapIn" />
      <wsdl:output message="tns:GetUltimoNroComprobanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipientCertificateFromStore">
      <wsdl:input message="tns:GetRecipientCertificateFromStoreSoapIn" />
      <wsdl:output message="tns:GetRecipientCertificateFromStoreSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MFDWebServiceSoap" type="tns:MFDWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCAE">
      <soap:operation soapAction="http://tempuri.org/GetCAE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUltimoId">
      <soap:operation soapAction="http://tempuri.org/GetUltimoId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUltimoNroComprobante">
      <soap:operation soapAction="http://tempuri.org/GetUltimoNroComprobante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipientCertificateFromStore">
      <soap:operation soapAction="http://tempuri.org/GetRecipientCertificateFromStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MFDWebServiceSoap12" type="tns:MFDWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCAE">
      <soap12:operation soapAction="http://tempuri.org/GetCAE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUltimoId">
      <soap12:operation soapAction="http://tempuri.org/GetUltimoId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUltimoNroComprobante">
      <soap12:operation soapAction="http://tempuri.org/GetUltimoNroComprobante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipientCertificateFromStore">
      <soap12:operation soapAction="http://tempuri.org/GetRecipientCertificateFromStore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MFDWebService">
    <wsdl:port name="MFDWebServiceSoap" binding="tns:MFDWebServiceSoap">
      <soap:address location="http://localhost/MFDWeb/MFDWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MFDWebServiceSoap12" binding="tns:MFDWebServiceSoap12">
      <soap12:address location="http://localhost/MFDWeb/MFDWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>