MFDService/Web References/ar.com.travelpay.www/CaeCounter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SetCAEByCUIT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cuit" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cae" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nroComprobante" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idCAEws" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="produccion" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCAEByCUITResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetCAEByCUITSoapIn">
    <wsdl:part name="parameters" element="tns:SetCAEByCUIT" />
  </wsdl:message>
  <wsdl:message name="SetCAEByCUITSoapOut">
    <wsdl:part name="parameters" element="tns:SetCAEByCUITResponse" />
  </wsdl:message>
  <wsdl:portType name="CaeCounterSoap">
    <wsdl:operation name="SetCAEByCUIT">
      <wsdl:input message="tns:SetCAEByCUITSoapIn" />
      <wsdl:output message="tns:SetCAEByCUITSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaeCounterSoap" type="tns:CaeCounterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCAEByCUIT">
      <soap:operation soapAction="http://tempuri.org/SetCAEByCUIT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaeCounterSoap12" type="tns:CaeCounterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCAEByCUIT">
      <soap12:operation soapAction="http://tempuri.org/SetCAEByCUIT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaeCounter">
    <wsdl:port name="CaeCounterSoap" binding="tns:CaeCounterSoap">
      <soap:address location="http://www.travelpay.com.ar/CaeCounter.asmx" />
    </wsdl:port>
    <wsdl:port name="CaeCounterSoap12" binding="tns:CaeCounterSoap12">
      <soap12:address location="http://www.travelpay.com.ar/CaeCounter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>